<div class="container">
    <div class="col align-items-center text-wrap p-5 m-3 bg-info herro">
        <h2> Welcome to TaskZ! </h2> <br>
        <p> A innvative task tracking app that helps you organize your life! </p> <br>
        <button class="btn btn-primary btn-lg mt-4" formenctype="/login"> Get Started</button>
    </div>
</div>
</div>


<div class="container">
    <div class="col align-items-left text-warp p-3 m-3 bg-warning">
        <h3> How its works.</h3> <br>
        <p> Let's say you need to an effcient way to get things done. this is where TaskZ comes in to help. first you
            type the task that needs to be done. you can add the place and the time that the task to be done and you'll
            get an email notifying you about said Task. you can also detele task when they are done and add new ones</p>
        <br>
    </div>
</div>