{{!-- <body>
    <nav class="navbar navbar-dark bg-info">
      <a href="http://127.0.0.1:5501/public/index.html"><img src="./assests/images/TaskZ.png" alt="Homelink"></a>
        <div class="icons">
        <!-- <button class= "btn btn-primary btn-lg mt-4"> Add New Note</button> 
        Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg p-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          New Note
        </button>
        </div>
     </nav>
      <div class="container">
            <div class="col p-3 m-3 bg-info text-white"> 
                    <h3> Task Test </h3>
                    <p> This task is a test for the application.</p>
                    <i class="fa-regular fa-calendar-xmark"></i>
            </div>
            <div class="col align-items-center p-3 m-3 bg-info text-white"> 
                <h3> Task Test 2 </h3>
                <p> This task is a test for the application.</p>
                <i class="fa-regular fa-calendar-xmark"></i>
        </div>
      </div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel"> Create New Task! </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> 
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="taskName" class="form-label">Task Name</label>
            <input type="input" class="form-control" id="taskName">
          </div>
          <div class="mb-3">
            <select class="form-select" id= taskType aria-label="Default select example">
              <option selected> Open this select menu</option>
              <option value="School"> School</option>
              <option value="Work"> Work </option>
              <option value="Fun"> Fun </option>
              <option value="Home"> Home </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="taskText" class="form-label">Task Notes</label>
            <textarea type="input" class="form-control" id="taskText" rows="4" cols="50"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="createbtn" type="button" class="btn btn-primary">Create Task!</button>
      </div>
    </div>
  </div>
</div> --}}