*,
*::before,
*::after {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}



/* Setting the root elements and variables. Used coolors.co to generate color palete for the application*/
:root {
    --dark: #000000;
    --white: #FFFFFF;
}

.herro {
    background-color: #0a191b;
    color: --var(--dark);
}

div.container {border-style: outset;}

